.hero-unit {
  margin-top: 20px;
  padding: 20px 30px 30px 30px;
  border: 10px solid white;
  box-shadow: 0px 0px 20px #777;
  max-width: 700px;
  margin: auto;
  opacity: 0;
}

#graph-container {
  overflow: hidden;
  height: 0px;
}

#graph-container .label {
  margin-bottom: -19px;
}

#graph-container .bar {
  height: 19px;
  border-bottom: none;
  border-radius: 5px;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

@media screen and (min-width:960px) {
  .hero-unit {
    margin-top: 100px;
  }
}

#footer {
  max-width: 780px;
  margin: auto;
  opacity: 0;
}

#footer li {
  opacity: 0;
  margin-top: 50px;
}

#footer hr {
  margin: 20px 0px 10px 0px;
}

.hero-unit h1 {
  color: #7b030f;
  margin-bottom: 30px;
  font-family: monospace;
}

@media screen and (min-width:960px) {
  .hero-unit h1 {
    font-size: 4.0em;
  }
}

.navbar-inverse .navbar-inner {
  background: none;
  background-color: #7b030f;
  border-bottom: 1px solid black;
  padding: 10px;
  transition: background-color .5s;
  -moz-transition: background-color .5s; /* Firefox 4 */
  -webkit-transition: background-color .5s; /* Safari and Chrome */
  -o-transition: background-color .5s; /* Opera */
}

.navbar-inverse .navbar-inner:hover {
  background-color: #333;
}

.navbar-inverse .navbar-inner a {
  font-size: 2.0em;
}

.navbar-inverse .brand {
  color: white;
}

.navbar-inverse .brand:hover {
  color: #ccc;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 100%;
}
